{% extends "base.html" %}
{% block content %}
<body ng-controller="RoverApp">
    <div ng-controller="safeCtrl">

            <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="sitter.name">Name</th>
                    <th st-sort="sitter.rating">Rating</th>
                </tr>
                <tr>
                    <th colspan="5"><input st-search="" class="form-control" placeholder="Sitter Search" type="text"/></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in sitters">
                    <td ng-bind="sitter.name"></td>
                    <td ng-bind="sitter.image"></td>
                    <td ng-bind="sitter.rating"></td>
                    <td>
                    <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
                        <i class="glyphicon glyphicon-remove-circle">
                        </i>
                    </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    <ul id="navigation">
        {% for sitter in sitters %}
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" src="{{sitter.image}}">
                    </a>
                </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{sitter.name}}</h4>
                        <p>
                            {{sitter.owner_review_text}}
                        </p>
                    </div>
            </div>
        {% endfor %}
    </ul>
</body>

{% endblock %}
