{% extends "base.html" %}
{% block content %}
<body np-app>
    <h1>{{search}}</h1>
    <input ng-model="search">

    <ul id="navigation">
        {% for sitter in sitters %}
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" src="{{sitter.image}}">
                    </a>
                </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{sitter.name}}</h4>
                        <p>
                            {{sitter.owner_review_text}}
                        </p>
                    </div>
            </div>
        {% endfor %}
    </ul>
</body>

{% endblock %}
