<div class="jumbotron">
    <div class="container">
        <h2>
            <center>Find a Loving Dog Sitter</center>
        </h2>
        <h3>
            <center>The nation's largest network of dog lovers for hire</center>
        </h3>
        <div class="btn-group btn-group-justified" role="group">
            <center>
                <a href="#" type="button" class="btn btn-default" role="button">How It Works</a>
            </center>
        </div>
        <div class="contailer">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="col-xs-12 col-sm-6 col-md-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Zip Code or Address">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
